* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  padding-top: 35vh;
  overflow: hidden;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
  display: block;
}

.home h2 {
  padding-left: 2rem;
  color: #b3b3b3;
}

.home .top-line {
  padding-left: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid green;
  color: #e6e6e6;
}

.home .top-line .name {
  padding-bottom: 0.5rem;
  font-size: 4.5rem;
}

.home .top-line .name__last {
  color: green;
  font-weight: 600;
}

.home .top-line__typed {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: green;
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: green;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.23s;
          transition-delay: 0.23s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.31s;
          transition-delay: 0.31s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.39s;
          transition-delay: 0.39s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.47s;
          transition-delay: 0.47s;
}

.menu-nav__item:nth-child(5) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.menu-nav__item:nth-child(6) {
  -webkit-transition-delay: 0.63s;
          transition-delay: 0.63s;
}

.about {
  width: 100vw;
  padding-bottom: 2rem;
  min-height: 100vh;
  height: auto;
  background-color: #0d0d0d;
}

.about__boi-image {
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about p {
  margin: 0.5rem;
  margin-left: 0rem;
}

.about__bio {
  width: 60vw;
  text-align: center;
}

.about__bio .text-secondary {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.about .jobs {
  width: 60vw;
  margin: 4rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.about .jobs__job {
  background: #1a1a1a;
  padding: 0.5rem;
  border-bottom: 5px solid green;
}

.about .jobs__job h2,
.about .jobs__job h3 {
  margin: 0.5rem 0;
}

.about .jobs__job h4 {
  margin: 0.2rem 0;
}

.about .jobs__job p {
  line-height: 1.3;
}

.about .jobs__job ul {
  list-style-type: none;
}

.projects {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: auto;
  min-height: 100vh;
}

.projects__bio-image {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects__bio-image .text-secondary {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.projects__items {
  width: 80vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.projects__items__item {
  background: #1a1a1a;
  position: relative;
  border-bottom: 5px solid green;
  overflow: hidden;
  cursor: pointer;
}

.projects__items__item .title {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-transform: capitalize;
  color: green;
}

.projects__items__item .description {
  padding: 0.5rem;
  line-height: 1.3;
  text-align: justify;
}

.projects__items__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: green;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__items__item:hover::after {
  top: 0;
  opacity: 0.9;
}

.projects__items__item:hover .projects__btn {
  opacity: 1;
}

.projects__items__item img {
  width: 100%;
}

.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.projects__btn {
  opacity: 0;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__btn__git {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__btn__git:hover {
  color: #000;
  color: black;
}

.contact {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  padding-top: 5vh;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .secondary-text {
  text-align: start;
  font-size: 2rem;
  padding-bottom: 4rem;
  text-transform: uppercase;
  color: green;
}

.contact__container {
  width: 95vw;
  padding-top: 2rem;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__container__left-side {
  padding-right: 2rem;
  display: block;
  border-right: 3px solid green;
}

.contact__container .form input,
.contact__container .form textarea {
  border: 0;
  border-bottom: 2px solid #999999;
  width: 100%;
  padding-bottom: 5px;
  margin: 0.5rem;
  font-family: inherit;
  outline: 0;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact__container .form input:focus,
.contact__container .form textarea:focus {
  padding-bottom: 5px;
  font-weight: 400;
  border-width: 2px;
  border-color: green;
}

.contact__container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__container .button-container button {
  height: 2.5rem;
  width: 5rem;
  font-size: 1rem;
  background-color: green;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.contact__container .button-container button:hover {
  background-color: #00b300;
  cursor: pointer;
  -webkit-box-shadow: rgba(114, 113, 113, 0.075) 2px 3px 1px;
          box-shadow: rgba(114, 113, 113, 0.075) 2px 3px 1px;
  -webkit-transform: translate3d(-1px, -2px, 2px);
          transform: translate3d(-1px, -2px, 2px);
}

.contact__container__right-side {
  padding-left: 1rem;
  padding-right: 2rem;
  text-align: center;
}

.blogs {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: auto;
  min-height: 100vh;
  background-color: #0d0d0d;
}

.blogs__bio-image {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blogs__bio-image .text-secondary {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.blogs__items {
  width: 80vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogs__items__item {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  background: #1a1a1a;
  border-bottom: 5px solid green;
  overflow: hidden;
}

.blogs__items__item__title {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-transform: capitalize;
  color: green;
}

.blogs__items__item__description {
  padding: 0.5rem;
  padding-right: 1rem;
  line-height: 1.3;
  text-align: justify;
}

.blogs__items__item__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.blogs__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.blogs__btn {
  opacity: 0;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.blogs__btn__git {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.blogs__btn__git:hover {
  color: #000;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .home {
    padding-top: 35vh;
  }
  .home h2 {
    padding-left: 4rem;
  }
  .home .top-line {
    padding-left: 4rem;
  }
  .home .top-line .name {
    font-size: 5rem;
  }
  .home .top-line__typed {
    font-size: 3rem;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    background: black;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
  .about {
    font-size: 1.2rem;
  }
  .projects {
    font-size: 1.2rem;
  }
  .projects__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .blogs__items {
    font-size: 1.2rem;
    width: 60vw;
  }
  .contact {
    font-size: 1.2rem;
  }
  .contact__list {
    font-size: 1.2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact__container {
    width: 80vw;
  }
  .contact__container .form input,
  .contact__container .form textarea {
    font-size: 1.2rem;
  }
  .contact__container .button-container button {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .home h2 {
    padding-left: 6rem;
  }
  .home .top-line {
    padding-left: 6rem;
  }
  .home .top-line .name {
    font-size: 6rem;
  }
  .home .top-line__typed {
    font-size: 3.5rem;
  }
  .projects__items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .contact__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .projects__bio-image {
    height: 20vh;
  }
  .blogs__items {
    width: 80vw;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: black;
  color: #fff;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body .social-icons {
  position: fixed;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 1rem;
  left: 1rem;
}

body .social-icons a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .social-icons a:hover {
  color: green;
}

footer {
  position: fixed;
  font-size: 1rem;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

footer:hover {
  color: green;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html::-webkit-scrollbar {
  width: 10px;
  height: auto;
}

html::-webkit- {
  width: 10px;
  height: auto;
}

html::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 30px;
}

html::-webkit-scrollbar-track {
  background-color: black;
}

.text-secondary {
  color: green;
}
/*# sourceMappingURL=main.css.map */