.blogs {
  /* background-color: aqua; */
  transition: 0.3s;
  border-style: dashed;
  margin: 2em;
}

.title {
  font-family: monospace;
  font-weight: bolder;
  text-align: center;
}

.single-blog img {
  border-radius: 50%;
  margin: auto;
  display: block;
}

.link {
  text-decoration: none;
  color: blue;
}

.single-project {
  /* margin: 2em; */
}
.projects {
  /* background-color: grey; */
  border-style: dashed;
  margin: 2em;
}
