@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

/* -------------------- global ------------------------ */
:root {
  /* --visited-color: rgb(21, 179, 0); */
  --paragraph-color: #1fadb8;
  --title-color: #f4b400;
  --link-color: white;
  --link-hover-color: yellow;
  --tab: 1.5rem;
  --heading-color: green;
  --background-color: rgb(0, 0, 0);
}
body {
  font-size: calc(var(--font-size) * 1.2);
  background-color: white;
  margin: 0;
  color: gray;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
}

/* --------------------scrollbar------------- */
html::-webkit-scrollbar {
  width: 10px;
  height: auto;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--link-hover-color),
    var(--paragraph-color)
  );
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
html::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
/* --------------------scrollbar End------------- */

.app {
  padding: 2rem calc(var(--font-size) * 8);
  background-color: var(--background-color);
  /* border-radius: 1rem; */
}

.mid-line {
  display: block;
  width: 100%;
  border-bottom: 0.15rem dashed white;
  line-height: 0.1em;
  margin: calc(var(--font-size) * 3) 0 0 0;
}
.mid-line span {
  color: var(--title-color);
  margin-left: calc(var(--font-size) * 2);
  padding: 0 var(--font-size);
  background-color: var(--background-color);
  text-transform: capitalize;
}
.link {
  text-decoration: none;
  color: var(--link-color);
  border-bottom: 1px dotted #f7f7f7;
}

/* ----------------------------------- blog --------------------------- */

/*TODO: make image left and texts rigth or warparound */

.blogs {
  text-align: center;
  color: white;
}
.single-blog img {
  object-fit: cover;
  border-radius: 50%;
  margin: calc(var(--font-size) * 2) auto;
  display: block;
  height: calc(var(--font-size) * 10);
  width: calc(var(--font-size) * 10);
  max-width: 100%;
}
.single-blog {
  border: 1px solid gray;
  border-radius: 1rem;
  padding: var(--font-size);
  margin: calc(var(--font-size) * 5) 0rem;
  line-height: calc(var(--font-size) * 2);
}
.single-blog .title {
  font-family: monospace;
  font-weight: normal;
  text-align: center;
  color: lightgreen;
}
.single-blog .description {
  font-family: monospace;
  font-weight: normal;
  text-align: center;
  color: var(--paragraph-color);
}
.single-blog .description .link{
  /* text-decoration: none; */
  border-bottom: none;
}



/* ------------------------------- navbar ----------------------------------- */
nav {
  text-align: end;
  padding-bottom: 2rem;
}
nav ul {
  margin-bottom: calc(var(--font-size) * 2);
  margin-top: 0rem;
  padding: 0;
  text-indent: 0;
}
nav ul li {
  list-style: none;
  float: right;
  padding: 0.5rem;
}

/* ------------------------------- project ----------------------------------- */
#projects {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}
.single-project {
  border: 1px solid gray;
  border-radius: 10px;
  flex-grow: auto;
  
  padding: calc(var(--font-size) * 0.5);
  margin: calc(var(--font-size) * 1) calc(var(--font-size) * 1.5);
  line-height: 1.5rem;

  height: auto;
  min-height: calc(var(--tab) * 20);
  width: 25%;

  text-decoration: none;
  text-align: center;

  transition: all .3s ease-in-out;
}
.single-project:hover {
  box-shadow: rgba(255, 255, 255, 0.22) 5px 10px 3px;
  transform: translate3d(0px, -1px, 0px);
}
.single-project .title {
  text-transform: capitalize;
  color: lightgreen;
  font-weight: normal;
}
.single-project .description {
  text-transform: lowercase;
  color: var(--paragraph-color);
  font-weight: lighter;
}

/* ------------------------------- home ------------------------------------- */
.home {
  text-align: end;
  color: white;
  font-family: "Cinzel", "Inconsolata", "Courier New", Courier, monospace;
  font-size: calc(var(--font-size) * 2);
}

/* ------------------------------ about --------------------------------------- */
.about {
  text-align: center;
  padding: 2rem calc(var(--tab) * 5);
}
.about p {
  color: var(--paragraph-color);
}
/* ------------------------------ contact ------------------------------- */
/* TODO:  make massage right and (text, other input fields left) */
.contact p {
  color: var(--paragraph-color);
  margin-bottom: calc(var(--font-size) * 3);
}
.label {
  color: lightgreen;
}
.contact hr {
  display: none;
  /* justify-content: center;
  width: 100vw; */
}
.form input,
.form textarea {
  border: 0;
  border-bottom: 2px solid gray;
  width: 100%;
  padding: 2px 0px;
  margin: calc(var(--font-size) * 0.5);
  font-family: inherit;
  outline: 0;
  font-size: var(--font-size) * 1.5;
  color: white;
  background-color: transparent;
  transition: border-color 0.2s;
}
.form input,
.form textarea :placeholder {
  color: transparent;
}
.form input:focus,
.form textarea:focus {
  padding-bottom: 2px;
  font-weight: 500;
  border-width: 2px;
  border-image: linear-gradient(to right, green, lightgreen);
  border-image-slice: 1;
}
.form .submit-button {
  font-size: var(--font-size) * 2;
  font-weight: 1000;
  height: 2rem;
  text-transform: capitalize;
  text-align: center;
  color: var(--paragraph-color);
  border: 1px solid lightgray;
  /* box-shadow: 0px 0px 1px 1px gray; */
}
.form .submit-button:hover {
  background-color: rgb(20, 20, 20);
}

/* --------------- footer --------------------------- */
.footer {
  margin-bottom: 3rem;
  display: block;
  text-align: center;
}
.footer-link {
  padding: var(--font-size) * 0.5;
  margin: auto calc(var(--font-size) * 2);
}

.link:hover {
  color: var(--link-hover-color);
}
