// $primary-color: black;
// $secondary-color: green;

.about {
  position: relative;
  // width: 100vw;
  padding-bottom: 2rem;
  min-height: 100vh;
  height: auto;
  background: transparent;
  background-color: $primary-color;
  // background-color: change-shade(
  //   $color: $primary-color,
  //   $amount: 5%,
  //   $shade: "light"
  // );
  z-index: 2;

  // margin: 0rem 4rem;
  box-shadow: 0 0 25px
    change-shade($color: $primary-color, $amount: 30%, $shade: "dark");
  // border-radius: 10px;

  &__boi-image {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  p {
    margin: 0.5rem;
    margin-left: 0rem;
  }

  &__bio {
    width: 60vw;
    text-align: center;

    .text-secondary {
      font-size: 2rem;
      padding-bottom: 1rem;
    }
  }

  .jobs {
    width: 60vw;
    margin: 4rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &__job {
      background: change-shade(
        $color: $primary-color,
        $amount: 10%,
        $shade: "light"
      );
      padding: 0.5rem;
      border-bottom: 5px solid $secondary-color;
      border-radius: 10px;

      h2,
      h3 {
        margin: 0.5rem 0;
      }
      h4 {
        margin: 0.2rem 0;
        font-weight: normal;
      }
      p {
        line-height: 1.3;
      }
      ul {
        list-style-type: none;
      }
    }
  }

  // .social-icons {
  //   display: flex !important;
  //   flex-direction: column;
  // }
  // footer {
  //   transform: rotate(90deg) translate(-3rem, -5rem);
  // }
}
