.contact {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  padding-top: 5vh;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .secondary-text {
    text-align: start;
    font-size: 2rem;
    padding-bottom: 4rem;
    text-transform: uppercase;
    color: $secondary-color;
  }

  &__container {
    width: 95vw;
    padding-top: 2rem;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    &__left-side {
      padding-right: 2rem;
      display: block;
      border-right: 3px solid $secondary-color;
    }

    // .form input,
    .text_input {
      border: 0;
      color: change-shade(
        $color: $primary-color,
        $amount: 60%,
        $shade: "light"
      );
      // border-bottom: 2px solid
      //   change-shade($color: $primary-color, $amount: 60%, $shade: "light");
      width: 100%;
      padding-bottom: 5px;
      margin: 0.5rem;
      font-family: inherit;
      outline: 0;
      font-size: 1rem;
      color: set-text-color($primary-color);
      background-color: transparent;
      @include transition-ease;
    }
    .button-container {
      display: flex;
      justify-content: center;

      button {
        height: 2.5rem;
        width: 5rem;
        font-size: 1rem;
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
        border: none;
        @include transition-ease;
        border-radius: 5px;

        &:hover {
          background-color: change-shade(
            $color: $secondary-color,
            $amount: 10%,
            $shade: "light"
          );
          cursor: pointer;
          box-shadow: rgba(114, 113, 113, 0.075) 5px 5px 1px;
        }
      }
    }

    &__right-side {
      padding-left: 1rem;
      padding-right: 2rem;
      text-align: center;
    }
  }
}
