// :root,
// [data-theme="default"] {
//   --color-primary: hsl(220, 90%, 56%);
//   --color-primary-h: 220;
//   --color-primary-s: 90%;
//   --color-primary-l: 56%;
// }

// $primary-color: #272727;
// $secondary-color: #ff652f;

// $temp-color: var(--primary-color);

// --primary-color: #272727;
// --secondary-color: #ff652f;

// $primary-color: white;
// $secondary-color: black;

// $primary-color: black;
// $secondary-color: green;

$primary-color: white;
$secondary-color: green;

// $primary-color: green;
// $secondary-color: black;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@function change-shade($color, $amount: 10%, $shade: "dark") {
  @if ($shade== "dark") {
    @if (lightness($color) >= $amount) {
      @return darken($color, $amount);
    } @else {
      @return lighten($color, $amount);
    }
  } @else {
    @if (lightness($color) + $amount <= 100%) {
      @return lighten($color, $amount);
    } @else {
      @return darken($color, $amount);
    }
  }
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

// @function toggle-color($i) {
//   @if ($i==1) {
//     $primary-color: green;
//     $secondary-color: black;
//     $i: 0;
//   } @else {
//     $primary-color: black;
//     $secondary-color: white;
//     $i: 1;
//   }
// }
